/* Animaciones */
@keyframes float {
    0% {
      transform: translateY(-50%) translateX(0);
    }
    50% {
      transform: translateY(-50%) translateX(-10px);
    }
    100% {
      transform: translateY(-50%) translateX(0);
    }
  }
  
  /* Clases para animaciones */
  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .fade-in.appear {
    opacity: 1;
    transform: translateY(0);
  }
  
  .slide-in-left {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .slide-in-left.appear {
    opacity: 1;
    transform: translateX(0);
  }
  
  .slide-in-right {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .slide-in-right.appear {
    opacity: 1;
    transform: translateX(0);
  }
  
  .scale-in {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .scale-in.appear {
    opacity: 1;
    transform: scale(1);
  }