---
import HeaderIndex from '../components/HomeSections/HeaderIndex.astro';
import HeroIndex from '../components/HomeSections/HeroIndex.astro';
import Features from '../components/HomeSections/Features.astro';
import DemoSection from '../components/HomeSections/DemoSection.astro';
import ExtraSection from '../components/HomeSections/ExtraSection.astro';
import CtaSection from '../components/HomeSections/CtaSection.astro';
import Footer from '../components/HomeSections/Footer.astro';
import HelpFloatingButton from '../components/HelpFloatingButton.astro';
import LayoutIndex from '../layouts/LayoutIndex.astro';
---

<LayoutIndex title="Menu-Upp | Digitaliza el menú de tu restaurante">
  <HeaderIndex />
  <main>
    <HeroIndex />
    <Features />
    <DemoSection />
    <ExtraSection />
    <CtaSection />
  </main>
  <Footer />
  <HelpFloatingButton />
</LayoutIndex>