---
import HeaderIndex from '../components/HomeSections/HeaderIndex.astro';
import HeroIndex from '../components/HomeSections/HeroIndex.astro';
import Features from '../components/HomeSections/Features.astro';
import DemoSection from '../components/HomeSections/DemoSection.astro';
import PricingSection from '../components/HomeSections/PricingSection.astro';
import ExtraSection from '../components/HomeSections/ExtraSection.astro';
import TermsSection from '../components/HomeSections/TermsSection.astro';
import CtaSection from '../components/HomeSections/CtaSection.astro';
import Footer from '../components/HomeSections/Footer.astro';
import ScrollToTop from '../components/HomeSections/ScrollToTop.astro';
import LayoutIndex from '../layouts/LayoutIndex.astro';
---

<LayoutIndex title="Menu-Upp | Digitaliza el menú de tu restaurante">
  <HeaderIndex />
  <main>
    <HeroIndex />
    <Features />
    <DemoSection />
    <PricingSection />
    <ExtraSection />
    <TermsSection />
    <CtaSection />
  </main>
  <Footer />
  <ScrollToTop />
</LayoutIndex>