---
import '../styles/reset.css'
import '../styles/global.css'
import type { Restaurant } from '../interfaces'
import BottomSheetQR from '../components/BottomSheetQR.astro'
import ModalManager from '../components/ ModalManager.svelte'
//Layout.astro
interface Props {
	restaurant: Restaurant
	backgroundColor: string
}

const {restaurant , backgroundColor = '#FFFF'} = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer">

		<title>Astro Basics</title>
	</head>
	<body style={`--font-family:${restaurant?.fontFamily }; --bg-color:${backgroundColor} `} >
		<slot />
		<ModalManager client:load  />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100vh;
		font-family: var(--font-family);
		background-color: var(--bg-color);
		min-height: 100vh;
	}
</style>
